$def with (greeting)

$if greeting:
    <!-- I just wanted to say <em style="color: green; font-size: 2em;">$greeting</em>. -->
$else:
    <em>Hello</em>, world!
<style>
div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    /*border: 1px solid red;*/
}
label, input {
    vertical-align:middle;
}
</style>

<h1>Material Model</h1>
<h2>Drucker Prager Linear Hardening</h2>
<h3>Change the Soil Parameters and Submit</h3>

<form action="/DPLH" method="POST">
    <!-- A Greeting: <input type="text" name="greet"><br/> -->
    <!-- Your Name: <input type="text" name="name"><br/> -->
    <div>    
    	MaxPureShearStrain                    : <input type="text" name ="MaxPureShearStrain" value = $greeting[0] ><br/>
	    Num_Of_Subincrement_monotonic_loading : <input type="text" name ="Num_Of_Subincrement_monotonic_loading" value = $greeting[1] ><br/>
	    Max_Num_Of_Subincrement : <input type="text" name ="Max_Num_Of_Subincrement" value = $greeting[2] ><br/>
	    DruckerPrager_k0 : <input type="text" name ="DruckerPrager_k0" value = $greeting[3] ><br/>
	    kinematic_hardening_rate : <input type="text" name ="kinematic_hardening_rate" value = $greeting[4] ><br/>
	    isotropic_hardening_rate : <input type="text" name ="isotropic_hardening_rate" value = $greeting[5] ><br/>
	    elastic_modulus : <input type="text" name ="elastic_modulus" value = $greeting[6] ><br/>
	    poisson_ratio : <input type="text" name ="poisson_ratio" value = $greeting[7] ><br/>
	    mass_density : <input type="text" name ="mass_density" value = $greeting[8] ><br/>
	    initial_confine : <input type="text" name ="initial_confine" value = $greeting[9] ><br/>
	    plastic_flow_kd : <input type="text" name ="plastic_flow_kd" value = $greeting[10] ><br/>
	    plastic_flow_xi : <input type="text" name ="plastic_flow_xi" value = $greeting[11] ><br/>
	</div>
    <input type="submit">

<h2>Stress-Strain Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/DPLH_strain_stress.png" alt="name" width="400" height="300" />

<h2>G/Gmax Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/DPLH_G_Gmax.png" alt="name" width="400" height="300" />

<h2>Damping Ratio Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/DPLH_damping_ratio.png" alt="name" width="400" height="300" />


</form>