<style>
div {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    /*border: 1px solid red;*/
}
label, input {
    vertical-align:middle;
}
</style>

<h1>Material Model</h1>
<h2>von Mises Linear Hardening</h2>
<h3>Change the Soil Parameters and Submit</h3>

<form action="/VMLH" method="POST">
    <!-- A Greeting: <input type="text" name="greet"><br/> -->
    <!-- Your Name: <input type="text" name="name"><br/> -->
    <div>
        Max Pure Shear Strain    : <input type="text" name ="MaxPureShearStrain" value = "0.03    "><br/>
        Shear Strain Increment   : <input type="text" name ="Shear_Strain_Increment" value = "1E-4    "><br/>
        von-Mises Radius         : <input type="text" name ="vonMises_radius" value = "1E3    "><br/>
        Kinematic Hardening Rate : <input type="text" name ="kinematic_hardening_rate" value = "1E3    "><br/>
        Isotropic Hardening Rate : <input type="text" name ="isotropic_hardening_rate" value = "0.0    "><br/>
        Elastic Modulus          : <input type="text" name ="elastic_modulus" value = "1E6    "><br/>
        Poisso's Ratio           : <input type="text" name ="poisson_ratio" value = "0.3    "><br/>
        Mass Density             : <input type="text" name ="mass_density" value = "2000    "><br/>
    </div>
    <input type="submit">

<h2>Stress-Strain Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/img/default/VMLH_strain_stress.png" alt="name" width="700" height="500" />

<h2>G/Gmax Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/img/default/VMLH_G_Gmax.png" alt="name" width="700" height="500" />

<h2>Damping Ratio Curve</h2>
<img border="0" src="http://cml01.engr.ucdavis.edu/yuan/Real-ESSI-Soil-Dynamic-Property/web_app/img/default/VMLH_damping_ratio.png" alt="name" width="700" height="500" />

</form>